.button__block {
  @apply mx-auto px-[2px] py-[12px] rounded-3xl lg:mt-8 mt-4;
  background: linear-gradient(97.16deg, #e8de00 0%, #5db7de 100%);
}
.button {
  @apply bg-primary px-6 py-3 rounded-3xl text-white font-semibold hover:bg-transparent duration-500;
}

.section {
  @apply pt-8;
  height: auto;
  min-height: 800px;
  position: relative;
}
.title {
  @apply text-[44px] lg:text-[80px] text-center;
  line-height: 80px;
}
.desc {
  @apply text-[16px] mx-auto text-center;
}
.text__block {
  @apply flex flex-col;
}
.car__block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 100%;
  height: auto;
  @apply translate-x-[18%];
}
